.duplicate-bug-wizard {
  .wizard-pf-contents {
    height: calc(100% - 72px);
  }

  .wizard-pane-title {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .duplicate-bug-wizard-contents {
    padding-bottom: 5rem;

    .duplicate-bug-info-section {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &.duplicate-bug-info {
      p {
        font-size: 14px;
      }

      .sample-request-col {
        @media (min-width: 1200px) {
          padding-right: 40px;
        }
      }

      .sample-response-col {
        @media (min-width: 1200px) {
          padding-left: 40px;
          border-left: solid 1px #ECECEC;
        }
      }
    }

    &.duplicate-bug-demo {

      .duplicate-bug-demo-btn-stop {
        margin-right: 1rem;
      }

      .duplicate-bug-info-section {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 500ms, opacity 500ms;
        margin-top: 2rem;
        margin-bottom: 1rem;
      }

      .fade-out {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 500ms, opacity 500ms;
      }

      .fade-in {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 500ms;
      }

      .duplicate-bug-demo-tab {
        margin-top: 2rem;
      }

      .tab-content {
        //padding-left: 0.5rem;
        //padding-right: 0.5rem;
      }

      .collapsible-heading-title {
        display: inline-block;
        margin-right: 10px;
      }

      .collapsible-heading-action {
        display: inline-block;
      }

      .duplicate-bug-demo-status.alert.alert-info {
        border-color: #1686CA;
        color: #1686CA;
        background-color: rgba(22, 134, 202, 0.1);
      }

      .data-set-card-view, .prediction-card-view {
        //background-color: #ededed;
        margin-top: 2rem;

        border: solid 1px #bbb;
        //box-shadow: 0 2px 6px rgba(3, 3, 3, 0.2);

        .title-container {
          padding: 2rem;
          border-bottom: solid 1px #bbb;
          //border: solid 1px #bbb;

          //.field-label {
          //  display: inline-block;
          //  font-weight: 700;
          //  min-width: 6rem;
          //  //margin-left: 3.5rem;
          //}
        }

        .card-title {
          margin-top: 0;
          margin-bottom: 2rem;

          .card-title-icon {
            width: 2.5rem;
            margin-right: 1rem;
            color: #1686CA;
          }

          .card-title-extra-info {
            color: #9c9c9c;
          }
        }
        .attributes-container {
          font-size: 14px;
          display: grid;
          grid-template-columns: 8rem 1fr;
          grid-gap: 0.5rem;
          margin-bottom: 0.5rem;
        }

        .field-label {
          font-size: 14px;
          //display: inline-block;
          font-weight: 700;
          //min-width: 6rem;
          //margin-right: 1rem;
        }

        .field-value {
          font-size: 14px;
        }

        .record-container {
          min-height: 20rem;
          padding: 2rem;
          background-color: #f5f5f5;

          .data-record-card {
            background-color: white;
            border: solid 1px #bbb;
            box-shadow: 0 2px 6px rgba(3, 3, 3, 0.2);
            padding: 2rem;

            .content-container {
              padding: 2rem;
            }
          }
        }

        .related-bugs-container {
          //margin-top: 0.5rem;
          padding-left: 2rem;
          padding-right: 2rem;
        }
      }

      .prediction-list-item {
        .list-view-pf-description {
          width: 100%;

          .list-group-item-text {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        .prediction-pending {
          text-align: center;
        }
      }

      .duplicate-bug-demo-status {
        margin-top: 3rem;
      }


    }
  }
}