.sentiment-wizard {

  .wizard-pf-contents {
    height: calc(100% - 72px);
  }

  .sentiment-wizard-contents {
    &.sentiment-info {
      p {
        font-size: 14px;
      }

      .sample-request-col {
        @media (min-width: 1200px) {
          padding-right: 40px;
        }
      }

      .sample-response-col {
        @media (min-width: 1200px) {
          padding-left: 40px;
          border-left: solid 1px #ECECEC;
        }
      }

      .sentiment-info-section {
        padding-bottom: 10px;
      }
    }

    .sentiment-data-input-format {
      margin-bottom: 40px;
    }

    &.sentiment-results {
      &.sentiment-pending {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
      }

      &.sentiment-success {
        .SentimentWordCloud {
          text-align: center;
        }
      }

      &.sentiment-no-results {
        text-align: center;
      }

      .sample-request-col {
        @media (min-width: 1200px) {
          padding-right: 40px;
        }
      }

      .sample-response-col {
        @media (min-width: 1200px) {
          padding-left: 40px;
          border-left: solid 1px #ECECEC;
        }
      }
    }
  }


  .SentimentLegend {
    margin-bottom: 40px;
    font-size: 1.5rem;
    line-height: 30px;

    .sentiment-legend-labels {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 30px;
      text-align: left;
      height: 30px;
    }

    .sentiment-legend-bar {
      width: 100%;
      display: flex;
      >div {
        flex-grow: 1;
        height: 30px;
        line-height: 30px;
        font-size: 1.5rem;
        text-align: center;
        color: white;
      }

      .very-negative-bar {
        background-color: #cc0000;
      }
      .negative-bar {
        background-color: #ec7a08;
      }
      .neutral-bar {
        background-color: #8b8d8f;
      }
      .positive-bar {
        background-color: #0088ce;
      }
      .very-positive-bar {
        background-color: #3f9c35;
      }
    }

    .sentiment-legend-markers {
      width: 100%;
      display: flex;
      height: 30px;
      line-height: 30px;
      font-size: 1.5rem;
      font-weight: 700;

      >div {
        flex-grow: 0;
      }
      >div.spacer {
        flex-grow: 1;
        text-align: center;
      }
    }

  }

  .SentimentDataTable {
    margin-bottom: 100px;
  }
}

