.flake-wizard {
  .wizard-pf-contents {
    height: calc(100% - 72px);
  }

  .flake-wizard-contents {
    padding-bottom: 5rem;

    .flake-info-section {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &.flake-info {
      p {
        font-size: 14px;
      }

      .sample-request-col {
        @media (min-width: 1200px) {
          padding-right: 40px;
        }
      }

      .sample-response-col {
        @media (min-width: 1200px) {
          padding-left: 40px;
          border-left: solid 1px #ECECEC;
        }
      }
    }

    &.flake-sample{
      .label.flake-label-true, .label.flake-label-false {
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }

    &.flake-results {

      .tab-content {
        padding-top: 2rem;
      }

      .flake-true {
        color: #1686CA;
        font-weight: 700;
      }

      &.flake-pending {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
      }

      &.flake-no-results {
        text-align: center;
      }

      .sample-request-col {
        @media (min-width: 1200px) {
          padding-right: 40px;
        }
      }

      .sample-response-col {
        @media (min-width: 1200px) {
          padding-left: 40px;
          border-left: solid 1px #ECECEC;
        }
      }

      .prediction-response-pending {
        padding-top: 2rem;
      }
    }
  }
}